%div(ra-controller="notes")
  .row
    .span8
      %h1
        Notes
    .span4
      %input(type="text" ng-model="search")
      %button(class="btn btn-primary" ng-click="showNew = true")
        new note

  %div(ng-show="showNew")
    %br
    %table.table
      %tr
        %td
          %form.form-horizontal
            .control-group
              %label.control-label(for="name")
                Name
              .controls
                %input#name(type="text" placeholder="Name" ng-model="notes.new.name")
            .control-group
              %label.control-label(for="content")
                Content
              .controls
                %textarea#content(placeholder="Content" ng-model="notes.new.content")
            .control-group
              %label.control-label(for="user")
                User
              .controls
                %input#user(type="text" placeholder="User" ng-model="notes.new.user")
            .control-group
              .controls
                %button.btn.btn-danger(ng-click="showNew = false")
                  cancel
                %button.btn.btn-success(ng-click="notes.callCreate(); showNew = false")
                  save
  %hr
  %table.table.table-striped
    %thead
      %tr
        %th(width="5%")
        %th Name
        %th User
        %th(width="10%")
          Actions
    %tbody(ng-repeat="note in notes.index | filter:search")
      %tr(ng-hide="showEdit && notes.id == note._id")
        %td(ng-click = "notes.clearId()")
          %span(ng-show="notes.id && notes.id == note._id")
            X
        %td(ng-click = "showEdit=false; notes.setId(note._id)")
          {{note.name}}
        %td 
          {{note.user}}
        %td
          %button(class='btn btn-mini' ng-click="notes.setId(note._id); showEdit = true")
            edit
          %button(class='btn btn-mini btn-danger' ng-click="notes.callDelete(note._id)")
            delete
      %tr(ng-show="notes.id && notes.id == note._id && !showEdit")
        %td
        %td(colspan = "3")
          {{notes.show.content}}
      %tr(ng-show="showEdit && notes.id == note._id")
        %td(colspan="4")
          %form.form-horizontal
            .control-group
              %label.control-label(for="name")
                Name
              .controls
                %input#name(type="text" placeholder="Name" ng-model="notes.edit.name" value="{{notes.edit.name}}")
            .control-group
              %label.control-label(for="content")
                Content
              .controls
                %textarea#content(placeholder="Content" ng-model="notes.edit.content")
            .control-group
              %label.control-label(for="user")
                User
              .controls
                %input#user(type="text" placeholder="User" ng-model="notes.edit.user" value="{{notes.edit.user}}")
            .control-group
              .controls
                %button.btn.btn-danger(ng-click="showEdit = false; notes.clearId()")
                  cancel
                %button.btn.btn-success(ng-click="notes.callUpdate(); showNew = false")
                  save

